{% extends "base.html" %}
{% block content %}
<li class="active"><a href="/myplaylists">My Playlists</a></li>
        </ul>
      </div>
    </div>
    <hr>
<div class="container"> 
  <h1>My Playlists</h1>
<form method="POST" action="/removeplaylists">
<div>
  {% for n in data %}
  <p><div style="font-size: 25pt"><a href="{{url_for('myplaylist',playlistID=n.pid)}}">{{n.name}}</a>  <input type="checkbox" name="remove" value={{n.pid}}></div></p>
  {% endfor %}
  <div><input type="submit" value="Remove Selected"></div>
</div>
</form>
<form method="get" action="/logout">
    <button type="submit">Logout</button>
</form>

<p><a href="/profile">Go to the profile page</a></p>

</div>
{% endblock %}
