{% extends "base.html" %}
{% block content %}
<li class="active"><a href="/myreviews">My Reviews</a></li>
        </ul>
      </div>
    </div>
    <hr>
<div class="container"> 
  <h1>My Reviews</h1>
<form method="POST" action="/removereviews">
<div>
  {% for n in data %}
  <p><div style="font-size: 25pt">{{n.name}}  <input type="checkbox" name="remove" value={{n.vid}}></div><div>{{n.dor}}</div></p>
  <div>{{n.rating}}</div>
  <div>{{n.content}}</div>
  {% endfor %}
  <div><input type="submit" value="Remove Selected"></div>
</div>
</form>

</div>
{% endblock %}
