<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>


    {% if data[0] %}

<div>

  {% for n in data %}
  <p><div style="font-size: 25pt"><a href="{{url_for('video',videoID=n.vid)}}">{{n.name}}</a> </div></p>
  {% endfor %}

</div>

{% else %}
    <div>No Videos</div>
    {% endif %}

<!-- <form method="get" action="/logout"> -->
    <button type="submit">Logout</button>
</form>

</body>

<p><a href="/profile">Go to the profile page</a></p>



</html>
