{% extends "base.html" %}
{% block content %}
<li class="active"><a href="/playlist">playlist</a></li>
        </ul>
      </div>
    </div>
    <hr>
<div class="container">  


    {% if data[0] %}

<div>

  {% for n in data %}
  <p><div style="font-size: 25pt"><a href="{{url_for('video',videoID=n.vid)}}">{{n.name}}</a> </div></p>
  {% endfor %}

</div>

{% else %}
    <div>No Videos</div>
    {% endif %}

<!-- <form method="get" action="/logout"> -->
    <button type="submit">Logout</button>
</form>
<p><a href="/profile">Go to the profile page</a></p>



</div>
{% endblock %}
