{% extends "base.html" %}
{% block content %}
{% if data[0] %}
<li class="active"><a href="/video">{{data[0].name}}</a></li>
{% endif %}
        </ul>
      </div>
    </div>
    <hr>
<div class="container">  

  <div>
{% if data[0] %}
    <p><div><format style="font-size: 25pt">{{data[0].name}}</format><format style="color: goldenrod">{{data[0].round}}/10</format></div><div>{{data[0].genre}}</div> </p>
    <div>{{data[0].dou}}</div>
    <div>views : {{data[0].nov}}</div>
    <div>likes : {{data[0].nol}}</div>
    {% else %}
    <div>No Reviews</div>
    {% endif %}
  </div>
  <div>
    {% for n in data %}
    <p>
    <div><format style="color: goldenrod">{{n.rating}}/10</format></div>
    <div>{{n[2]}}</div>
    <div>{{n.dor}}</div>
    <div>{{n.content}}</div
    </p>
    {% endfor %}
  </div>

<p><a href="/profile">Go to the profile page</a></p>

</div>
{% endblock %}
