<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Watched Videos</h1>
<form method="POST" action="/removewatched">
<div>
  {% for n in data %}
  <p><div style="font-size: 25pt">{{n.name}}  <input type="checkbox" name="remove" value={{n.vid}}></div><div>{{n.genre}}</div></p>
  <div>{{n.dou}}</div>
  <div>views : {{n.nov}}</div>
  <div>likes : {{n.nol}}</div>
  <div>Dislikes : {{n.nod}}</div>
  {% endfor %}
  <div><input type="submit" value="Remove Selected"></div>
</div>
</form>

</body>


</html>
